<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BANKING</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.abc.controller.Home</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>com.abc.controller.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.abc.controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>com.abc.controller.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.abc.controller.ChangePassword</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
</web-app>
